{% extends 'base.html' %}

{% block content %}
<h3>{{header}}</h3>
  <form method="POST" action="#">
  {% csrf_token %}
  <div class="row">
    <div class="col-8">
      <ol class="list-group list-group-numbered">
        {% for ingredient in shopping_list %}    
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ingredient.name}}</div>
            {{ingredient.description}}
          </div>
          {% if ingredient.is_completed %}
            <input class="my-auto" type="checkbox" checked value="{{ingredient.pk}}" name="checkbox"/>
          {% else %}
            <input class="my-auto" type="checkbox" value="{{ingredient.pk}}" name="checkbox"/>
          {% endif %}
          <button type="submit" class="btn btn-danger ms-2" name="delete" value="{{ingredient.pk}}">Delete</button>
        </li>
        {% endfor %}
      </ol>
    
      <button type="submit" class="btn btn-primary mt-2" name="update_checked" value="update_checked">Save</button>
    </div>
    <div class="col-4">
        <div class="mb-2">
          <label class="form-label">Name of the item</label>
          <input type="text" class="form-control" name="item_name">
        </div>
        <div class="mb-2">
          <label class="form-label">Description of the item</label>
          <textarea type="text" class="form-control" style="height: 100xp" name="item_description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="item_add" value="item_add">Create Item</button>
      </div>
      
  </div>
</form>
      
{% endblock content %}
    